<div class="global-header" >
    <div style="background-image:url(<%= asset-path(/pictures/Pic2.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic11.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic10.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic9.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic4.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic5.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic6.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic8.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic7.jpg) %>)"></div>
</div>