<!DOCTYPE html>
<html>

<head>
  <title> Login </title>
</head>
<body>

 <div class="global-header" >
    <div style="background-image:url(<%= asset-path(/pictures/Pic2.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic11.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic10.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic9.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic4.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic5.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic6.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic8.jpg) %>)"></div>
    <div style="background-image:url(<%= asset-path(/pictures/Pic7.jpg) %>)"></div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12">
    <h1 class="login-title">Create Free Account</h1>
  </div> 

  <div class="col-lg-12 col-md-12 col-sm-12 " id="signup-container">
    <div class="Signup-info"> 
      <h3 > Enter Desired Credentials </h3> 
      <hr>
      <form method="post" >
        <label> Enter Email </label>
        <input type="email" placeholder="Email" name="email" required>
        <label> Enter Password </label>
        <input type="password" placeholder="Password" name="password" required>
        <label> Confirm Password </label>
        <input type="password" placeholder="Password" name="repeat_password" required>
        <input type="submit" value="Create!">
      </form>
    </div>
  </div>

</body>
</html>